{% extends 'usuarios/base.html' %}
{% block conteudo %}
<form action="{% url 'listagem_pagamentos' %}" method="post">        
    {% csrf_token %}
   <div style="text-align: left;" class="container">
        <h1>Pagamento</h1>
        <p>
            <p>Id Cliente <input type="number" class="form-control-sm" min="0" max="100" name="id_cliente" value= {{ id }}> </p>                                 
            <p>Data Pagamento <input type="date" class="form-control-sm" id="bday" name="datapagamento" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"></p> 
            <p>Valor Pago <input type="number" class="form-control-sm" min="0" max="100" step=".01" name="valorpago"> </p> 
            <p>Valor Quitado <input type="number" class="form-control-sm" min="0" max="100" step=".01" name="valorquitado"> </p>             
        </p>
        <p>             
        <button class="form-control-sm">Enviar</button>
    </div>
</form>

{% endblock %}




    
    
    
    


